
@import "tailwindcss";

*{
    /* margin: 0px; */
    /* padding: 0px; */
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background :linear-gradient(135deg, #05070f, #1c2433, #05070f);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

